[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StabilizedRegression"]
	path = StabilizedRegression
	url = https://github.com/niklaspfister/stabilizedregression-r
	subdir = StabilizedRegression
